.l-navigation {
  display: flex;
}

.l-navigation > * {
  white-space: pre;
}

.l-navigation > * + * {
  margin-left: 0.5rem;
}

.l-navigation > * + *::before {
  content: "/";
  margin-right: 0.5rem;
  opacity: 0.4;
}

.l-navigation a {
  text-decoration: underline;
  text-decoration-color: var(--THEME_UNDERLINE);
  font-size: 0.9rem;
}

@media (min-width: 800px) {
  .l-navigation a {
    font-size: 0.75rem;
  }
}

.l-navigation a:hover {
  color: var(--THEME_HOVER, black);
}

.navigation {
  list-style: none;
}

$footer-nav-breakpoint: 1000px;
.l-footer-nav {
  --footer-nav-display: none;
}

@media (min-width: $footer-nav-breakpoint) {
  .l-footer-nav {
    --footer-nav-display: block;
  }
}

.l-footer-nav {
  display: var(--footer-nav-display);
}
